<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <img src="https://static.vecteezy.com/system/resources/previews/000/147/310/non_2x/free-hand-drawn-vector-burger-illustration.jpg" alt="burger"
            class=" imgBurger float-right">
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="row banner">                            
                    <h4 class="centered">Place your Order</h4>                    
                    
                </div>

                <form class=" row create-form">
                    <div class="form-group col-lg-5">
                        <label for="name" class="text-white">Burger Name</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="col-lg-2">
                        <button id ="btnSubmit" class="btn btn-sm" type="submit">Add Burger</button>
                    </div>
                    
                    
                </form> 

             
    

            </div>

        </div>
    </div>    
</div>