body{
    background-color: #252527;
}

.imgBurger{
    height: 100%;
    margin-top: 5%;
    margin-right: 0;
}

.container{
    height: auto;
}

.banner{
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    height: 120px;
    background-image: url("https://png2.kisspng.com/sh/b9b37510786bbcd2b1aec90591833817/L0KzQYm3VsA2N5dqfZH0aYP2gLBuTgdmal5nedD3ZYKwc73wkL1ieqUyet5qY3uwcbBrTgdpcaVqRdRqbn7ogn68gsE3bGQ9e6lvZUC5SHAAVMI0QGc3SqMAMki1QoO9UMQ2OmQ9RuJ3Zx==/kisspng-web-banner-clip-art-black-and-white-banner-5b16d38c7fe068.7423862215282226045238.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.bannerImg{
    position: relative;
    width: 100%;
    height: 100px;
}

.centered {
    position: relative;
    top: 30%;
    left: 10%;
    width: 100%;
    
  }

.formRow{
    width: 100%;
    margin-left: 10%;
    margin-top : 5%;
    
}

#btnSubmit{
    position: absolute;
    float: right;
}


.create-form{
    width :100%;
    margin-left: 10%;
    margin-top : 5%;
}

.heading5{
    background:white;
    color: black;
    padding: 5px;
    text-align: center;
    margin-top:5px;
    
}

.burgersRow{
    border: solid white;
}

.btnDevour{
    right: 0;
}

.burgerList{
    padding: 10px;
   
}

.tagList{
    width:100%;
}